.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

  }

 div {
   background-color:rgb(230, 227, 227);
    text-align: center;

  }
button {
    margin-right: 5px;
}
.text {
      width: 25%;
  }

.box{
    float: left;
    text-align: center;
    background-color: aquamarine;
    width: 33%;
    height: 150px;
    margin-left: 1px;

    }
body {
    padding: 70px;
}